import { IMenuOption } from "components/form/formAutoComplete";
import yup, { ShapeOf } from "utils/yupExtended";
export * from "./formikHandler"
//* Always put your form interfaces, yup validation schema and form initial value in a separate file like this.


export interface IFormValues {

}

export interface IDropdownValues {

}

export const validationSchema = yup.object<ShapeOf<IFormValues>>({

});

export const initialValues: IFormValues = {

};
