import { IPaginationParams } from "api/types/paginationType";

export interface I${featureName}Data {

}

export interface I${featureName}Response {

}

export interface I${pluralFeatureName}ListParams extends IPaginationParams {

}

export interface I${pluralFeatureName}ListResponse {

}


